n8n/workflows/02-classify-and-route.json
{
  "name": "02 - Classify and Route",
  "nodes": [
    {
      "parameters": {
        "event": "INSERT",
        "schema": "public",
        "table": "emails"
      },
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "trigger-node",
      "name": "Supabase Trigger",
      "webhookId": "email-insert-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.cn/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "moonshot-v1-8k"
            },
            {
              "name": "messages",
              "value": "={{[{\"role\": \"system\", \"content\": \"You are a customer service email classifier. Respond ONLY in valid JSON format.\"}, {\"role\": \"user\", \"content\": \"EMAIL BODY: \" + $json.record.body_text + \"\\n\\n---\\n\\nINSTRUCTIONS:\\nClassify this customer service email into exactly ONE of these categories:\\n- REFUND: Customer wants money back, return item, cancel order\\n- STATUS: Checking order status, tracking, delivery time\\n- COMPLAINT: Dissatisfied, quality issue, bad experience\\n- GENERAL: Question not fitting above, partnership, wholesale, etc.\\n- OTHER: Spam, unclear, or cannot categorize\\n\\nRespond ONLY in JSON format:\\n{\\\"classification\\\": \\\"REFUND|STATUS|COMPLAINT|GENERAL|OTHER\\\", \\\"confidence\\\": 0.0-1.0, \\\"reasoning\\\": \\\"brief\\\", \\\"urgency\\\": \\\"low|medium|high|critical\\\"}\\n\\nconfidence > 0.8 means clear classification\"}]}}"
            },
            {
              "name": "temperature",
              "value": "0.1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "id": "kimi-classify",
      "name": "Kimi K2.5: Classify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIMI_API_CREDENTIAL",
          "name": "Kimi API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Kimi response and extract JSON\nconst response = $input.first().json.choices?.[0]?.message?.content || '';\nlet classification = { classification: 'OTHER', confidence: 0.0, reasoning: 'parse_error', urgency: 'low' };\ntry {\n  const jsonMatch = response.match(/\\{[^}]+\\}/);\n  if (jsonMatch) {\n    classification = JSON.parse(jsonMatch[0]);\n  } else {\n    classification = JSON.parse(response);\n  }\n} catch (e) {\n  classification = { classification: 'OTHER', confidence: 0.3, reasoning: 'parse_failed', urgency: 'low' };\n}\nif (!classification.classification) classification.classification = 'OTHER';\nif (!classification.confidence) classification.confidence = 0.5;\nif (!classification.reasoning) classification.reasoning = 'no_reasoning';\nif (!classification.urgency) classification.urgency = 'low';\nreturn [{\n  json: {\n    record: $json.record,\n    classification: classification.classification.toUpperCase(),\n    confidence: parseFloat(classification.confidence),\n    reasoning: classification.reasoning,\n    urgency: classification.urgency.toLowerCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "parse-classification",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "high-confidence",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "check-confidence",
      "name": "High Confidence?"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "emails",
        "filter": {
          "id": "={{ $json.record.id }}"
        },
        "columns": {
          "classification": "={{ $json.classification }}",
          "confidence": "={{ $json.confidence }}",
          "status": "pending"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 200],
      "id": "update-classified",
      "name": "Update: Classified"
    },
    {
      "parameters": {
        "channel": "#support-review",
        "text": "=⚠️ Low confidence: {{ $json.record.subject }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 400],
      "id": "slack-low-conf",
      "name": "Slack: Low Confidence"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "emails",
        "filter": {
          "id": "={{ $json.record.id }}"
        },
        "columns": {
          "classification": "={{ $json.classification }}",
          "confidence": "={{ $json.confidence }}",
          "status": "needs_review"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "update-needs-review",
      "name": "Update: Needs Review"
    }
  ],
  "connections": {
    "Supabase Trigger": {
      "main": [
        [
          {
            "node": "Kimi K2.5: Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi K2.5: Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "High Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Confidence?": {
      "main": [
        [
          {
            "node": "Update: Classified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Low Confidence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update: Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["classification", "routing", "kimi"]
}
