n8n/workflows/03-generate-response.json
{
  "name": "03 - Generate Response",
  "nodes": [
    {
      "parameters": {
        "event": "UPDATE",
        "schema": "public",
        "table": "emails"
      },
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "trigger-update",
      "name": "Update Trigger: Status Classified",
      "webhookId": "email-update-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "classified-high-conf",
              "leftValue": "={{ $json.record.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "has-confidence",
              "leftValue": "={{ $json.record.confidence }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "check-ready",
      "name": "Ready to Respond?"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "value": "knowledge_documents"
        },
        "match": {
          "is_active": true
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "get-kb",
      "name": "Get Knowledge Base"
    },
    {
      "parameters": {
        "jsCode": "// Build messages for Kimi\nconst record = $json.record;\nconst kb = $input.first().json || [];\nlet userPrompt = 'Customer email: ' + record.body_text;\nif (record.classification === 'STATUS') {\n  userPrompt += '\\n\\nProvide order status info.';\n} else if (record.classification === 'REFUND') {\n  userPrompt += '\\n\\nHandle refund request.';\n} else if (record.classification === 'COMPLAINT') {\n  userPrompt += '\\n\\nBe empathetic and apologetic.';\n}\nuserPrompt += '\\n\\nKnowledge base:\\n' + kb.slice(0, 3).map(d => d.title + ': ' + d.content?.substring(0, 200)).join('\\n');\nreturn [{\n  json: {\n    record,\n    messages: [\n      { role: 'system', content: 'You are a helpful customer support assistant. Respond professionally.' },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "build-prompt",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.cn/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "moonshot-v1-8k"
            },
            {
              "name": "messages",
              "value": "={{JSON.stringify($json.messages)}}"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "max_tokens",
              "value": "500"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "id": "kimi-response",
      "name": "Kimi K2.5: Generate Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIMI_API_CREDENTIAL",
          "name": "Kimi API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.choices?.[0]?.message?.content || 'Error: No response';\nconst record = $json.record;\nconst autoReply = ['STATUS', 'GENERAL'].includes(record.classification);\nreturn [{\n  json: {\n    record,\n    response,\n    status: autoReply ? 'auto_replied' : 'needs_approval',\n    auto_reply: autoReply\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "process-response",
      "name": "Process Response"
    },
    {
      "parameters": {
        "table": {
          "value": "emails"
        },
        "operation": "update",
        "filter": {
          "id": "={{ $json.record.id }}"
        },
        "columns": {
          "ai_response": "={{ $json.response }}",
          "status": "={{ $json.status }}"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "id": "save-response",
      "name": "Save Response"
    },
    {
      "parameters": {
        "channel": "#support-auto",
        "text": "=📧 {{ $json.record.classification }} processed"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1650, 300],
      "id": "notify-slack",
      "name": "Notify Slack"
    }
  ],
  "connections": {
    "Update Trigger: Status Classified": {
      "main": [
        [
          {
            "node": "Ready to Respond?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready to Respond?": {
      "main": [
        [
          {
            "node": "Get Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Knowledge Base": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Kimi K2.5: Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kimi K2.5: Generate Response": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Save Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["response", "kimi"]
}
